.page {
  display:grid;
  grid-template-rows: 77px auto;
}
.header {
  background:#fff;
  display:grid;
  grid-template-columns: auto 935px auto;
  border-bottom: 1px solid #ddd;
}
.header-content {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
}
.header-content-icons {
  display:grid;
  grid-template-columns: auto 64px 78px 74px 64px;
  justify-items: end;
}
.nav-active {
  color: #555;
}

.uploader-state {
  display:grid;
  grid-template-columns: auto 602px auto;
  margin-top: 60px;
}
.uploader-state-content {
  align-items: center;
  border: 1px solid #ddd;
  padding: 12px 24px;
  background: white;
}

@media (max-width: 980px) {
  .header {
    grid-template-columns: 18px auto 18px;
  }
}

@media (max-width: 735px) {
  .page {
    display:grid;
    grid-template-rows: 57px auto;
  }
}

@media (max-width: 619px) {
  .header-content-icons {
    grid-template-columns: auto 46px 56px 52px 46px;
  }
  .uploader-state {
    grid-template-columns: 0 auto 0;
  }
}

@media (max-width: 400px) {
  .header-content {
    grid-template-columns: auto auto;
  }
  .header-content-icons {
    grid-template-columns: auto 32px 42px 38px 32px;
  }
}